{% block head_stylesheets %}

    {% stylesheets filter='lessphp' output='css/main.css'
     'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
     '@FrontMobileBundle/Resources/public/less/default.less'
    %}
    <link rel="stylesheet"
          href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}