<header class="nav navbar-fixed-top">
    <img src="{{ asset('images/architecture/' ~ frontUI.logoBrand) }}" alt="Logo brand" class="navbar-brand"/>
    <h4 class="navbar-text">{{ frontUI.headerTitle }}</h4>
</header>