<section id="blog" class="container-fluid text-center">
    <a href="http://jayjaybe.tumblr.com" target='_blank'>
        <article class="jumbotron">
            <h4>Venez découvrir nos réalisations</h4>
        </article>
    </a>
</section>