{% extends 'FrontMobileBundle::Structure/head.html.twig' %}
{% block head_stylesheets %}
    {% include 'FrontMobileBundle::Structure/head_stylesheets.html.twig' %}
{% endblock %}
{% block body %}
    {% block banniere %}
        {% include 'FrontMobileBundle::Default/banniere.html.twig' %}
    {% endblock %}
    {% block edito %}
        {% include 'FrontMobileBundle::Default/edito.html.twig' %}
    {% endblock %}
    {% block blog %}
        {% include 'FrontMobileBundle::Default/blog.html.twig' %}
    {% endblock %}
    {% block steps %}
        {% include 'FrontMobileBundle::Default/steps.html.twig' %}
    {% endblock %}
    {% block infos %}
        {% include 'FrontMobileBundle::Default/infos.html.twig' %}
    {% endblock %}
    {% block map %}
        {% include 'FrontMobileBundle::Default/map.html.twig' %}
    {% endblock %}
{% endblock %}