@import "colors";
@import "texts";

/*<COULEURS*/
body, a, a
{
    color: white;
}

.infos-horaires-today
{
    color: @yellow;
}

.text-red
{
    color: @red;
}

header.nav
{
    color: @dark-grey;
    background-color: white;
}

body, section#infos
{
    background-color: @blue;
}

section#steps
{
    background-color: @red;
}

section#blog
{
    background-color: @yellow;
}

section#blog .jumbotron
{
    /*background-color: rgba(37, 48, 57, 0.86);*/
    background: linear-gradient(45deg,rgba(37,48,57,0.8) 0%,rgba(74, 97, 140, 0.8) 100%);
}
/*>FIN COULEURS*/
/*<ARRIERE-PLANS*/
section#blog
{
    background-image: url('../../bundles/frontmobile/images/architecture/Photo_RealisationBUT.jpg');
}
section#map
{
    background-image: url('../../bundles/frontmobile/images/architecture/CarteLocalisationBUT.jpg');
}

section#map, section#blog
{
    background-repeat: no-repeat;
}
section#map, section#blog
{
    background-position: 50%;
}
section#map, section#blog
{
    background-size: cover;
}
/*>ARRIERE-PLANS*/
/*<TABLEAUX*/
section#infos .table-responsive
{
    border: 0;
}
/*>TABLEAUX*/
/*<DIMENSIONS*/
section#map
{
    width: 300px;
    height: 179px;
}
header.nav
{
    height: 60px;
}
header.nav img
{
    height: 105px;
}
section#steps ul img
{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}
section#map
{
    width: 100%;
}
section#edito img
{
    min-height: 70px;
    max-height: 150px;
    width: auto;
}
/*>FIN DIMENSIONS*/
/*<MARGES ET PADDINGS*/
section#map
{
    margin: 0;
    padding: 0;
}
section#blog
{
    padding: 50px;
}
section#edito
{
    margin-top: 60px;
}
section#blog .jumbotron
{
    margin-top: 30px;
}
header.nav
{
    margin-bottom: 30px;
}
section#edito article, section h2
{
    margin-bottom: 20px;
}
section h3>span
{
    margin-top: -13px;
    padding-right: 10px;
}
/*>FIN MARGES ET PADDINGS*/
/*<ALIGNEMENTS*/
section h3>span
{
    float: left;
}
/*>FIN ALIGNEMENTS*/
/*<BORDURES*/
header.nav
{
    border-bottom: 2px solid @red;
}
section#blog article
{
    border: 3px solid white;
}
section#infos .table>tbody>tr>td
{
    border: 0;
}
/*>FIN BORDURES*/
/*<OMBRES*/
section#edito, section#steps, section#infos
{
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
}
section#blog .jumbotron
{
    box-shadow: 3px 3px 3px rgba(37,48,57,0.20);
}
section#map
{
    box-shadow: inset 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
}
/*>FIN OMBRES*/
/*<EVENEMENTS SOURIS*/
section#blog a:hover, section#blog .jumbotron:hover
{
    text-decoration: none;
    cursor: pointer;
    color: black;
    background: white;
}
/*>FIN EVENEMENTS SOURIS*/
