/*<FAMILLES*/
h2
{
    font-family: Brush Script Std Medium, Helvetica, Arial;
}
/*>FIN FAMILLES*/
/*<TAILLES*/
section h2
{
    font-size: 42px;
}
/*>FIN TAILLES*/
/*<ALIGNEMENTS*/
section h2{
    text-align: center;
    letter-spacing: 3px;
}
section#steps ul p
{
    line-height: 25px;
}
/*>FIN ALIGNEMENTS*/
/*<OMBRES*/
section#blog h4
{
    text-shadow: 9px 5px 8px rgba(31, 31, 31, 0.6);
}
/*>FIN OMBRES*/